/*container 시작*/

.container {
  padding-top: 74px;
}

.container .inner-container {
  width: 100%;
  height: auto;
  padding: 10px 0.5208vw;
  box-sizing: border-box;
}

.container .inner-container .bestNew {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.container .inner-container .bestNew .sections {
  flex: 0 1 1000px;
  height: auto;
}



/*section1 시작*/
.container .inner-container .bestNew .sections .section.sec1 {
  width: 100%;
  height: auto;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con {
  width: 100%;
  height: auto;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-title {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 40px 0 20px 0;
  box-sizing: border-box;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-title span.title {
  font-family: 'Pretendard-SemiBold';
  font-size: 4rem;
  letter-spacing: 2px;
  line-height: 6rem;
  color: transparent;
  background-image: linear-gradient(0deg, #31271d, #31271d);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 0% 100%;
  cursor: pointer;
  transition: background-size 0.2s ease-in;
  -webkit-text-stroke: 1px #31271d;
  -webkit-background-clip: text;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-title span.title:hover {
  background-size: 100% 100%;
  filter: drop-shadow(0 0 5px #f9f7f1);
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-title p.desc {
  font-family: 'Pretendard-Regular';
  font-size: 2rem;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-box {
  width: 100%;
  height: auto;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-box .gallery {
  width: 100%;
  height: 500px;
  position: relative;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-box .gallery .main-gallery {
  width: 100%;
  height: inherit;
  position: absolute;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-box .gallery .main-gallery>ul {
  width: 100%;
  height: inherit;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-box .gallery .main-gallery>ul>li {
  width: 100%;
  height: inherit;
  
  position: absolute;
  box-sizing: border-box;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fadeLi {
  visibility: visible !important;
  opacity: 1 !important;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-box .gallery .center-btn {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-box .gallery .center-btn span {
  background-color: rgba(0, 0, 0, 0.199);
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-box .gallery .bcon {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-box .gallery .bcon .items {
  flex: 0 1 150px;
  height: auto;
  padding: 10px 0;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-box .gallery .bcon .items>ul {
  display: flex;
  justify-content: space-between;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-box .gallery .bcon .items>ul>li {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.479);
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .main-box .gallery .bcon .items>ul>li:hover {
  background-color: rgba(0, 0, 0, 0.658);
}

.on {
  background-color: rgba(0, 0, 0, 0.801) !important;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(179, 179, 179, 0.363);
  border-left: 1px solid rgba(179, 179, 179, 0.363);
  border-right: 1px solid rgba(179, 179, 179, 0.363);
  box-sizing: border-box;

}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-line {
  flex: 0 1 850px;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  box-sizing: border-box;

  transform: translateY(50%);
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left .number {
  font-family: 'Pretendard-Regular';
  font-size: 5rem;
  font-weight: 600;
  padding: 0 10px;
  line-height: 6rem;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left .desc-outline {
  width: 100%;
  height: 230px;
  padding: 0 5px;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left .desc-outline>ul {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left .desc-outline>ul>li {
  width: 100%;
  height: auto;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left .desc-outline>ul>li h2.kName {
  font-family: 'Pretendard-Regular';
  font-size: 2.4rem;
  line-height: 4rem;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left .desc-outline>ul>li p.eName {
  font-family: 'Pretendard-Regular';
  font-size: 1.5rem;
  line-height: 1rem;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left .desc-outline>ul>li p.desc1 {
  font-family: 'Pretendard-ExtraLight';
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left .desc-outline>ul>li:last-child {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left .desc-outline>ul>li button {
  width: 36%;
  height: 40px;
  cursor: pointer;
  border: 0;
  border: 1px solid #f3acb3;
  background-color: white;
  font-family: 'Pretendard-Regular';
  font-size: 1.5rem;
  transition: all 0.1s;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left .desc-outline>ul>li button:hover {
  background-color: #f3acb3;
  color: white;
}


.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-right {
  width: 300px;
  height: auto;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-right>ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-right>ul>li {
  display: flex;
  justify-content: space-between;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-right>ul>li:not(:last-child) {
  margin-bottom: 10px;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-right>ul>li img {
  width: 70px;
  height: auto;
  display: block;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-right>ul>li p {
  width: 220px;
  height: auto;
  padding-top: 15px;
  font-family: 'Pretendard-ExtraLight';
  font-size: 1.6rem;
}



/*section1 sub*/
.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.rolling-ani {
  transform: translateY(0%) !important;
}

/*.rolling-ani1 {
  transform: translateY(0%) !important;
}*/

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li {
  width: 49.5%;
  height: 300px;
  border: 1px solid rgba(179, 179, 179, 0.363);

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1%;

  transform: translateY(50%);
  /*transition: all 1s;*/
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li .desc-top {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  justify-content: left;
  padding: 10px 20px;
  box-sizing: border-box;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li .desc-top .number {
  font-family: 'Pretendard-Regular';
  font-size: 5rem;
  font-weight: 600;
  padding: 0 15px;
  line-height: 6rem;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li .desc-top .desc-outline h2.kName {
  font-family: 'Pretendard-Regular';
  font-size: 2.4rem;
  line-height: 4rem;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li .desc-top .desc-outline p.eName {
  font-family: 'Pretendard-Regular';
  font-size: 1.5rem;
  line-height: 1rem;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li .desc-btm {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 2.5rem;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li .desc-btm>ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
  box-sizing: border-box;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li .desc-btm>ul>li {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li .desc-btm>ul>li:not(:last-child) {
  margin-bottom: 10px;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li .desc-btm>ul>li:last-child {
  gap: 10px;
  margin-bottom: 10px;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li .desc-btm>ul>li p {
  width: 100%;
  height: auto;
  padding-top: 15px;
  font-family: 'Pretendard-ExtraLight';
  font-size: 1.6rem;
  padding: 0 10px;
  box-sizing: border-box;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li .desc-btm ul li button {
  width: 50%;
  height: 40px;
  cursor: pointer;
  border: 1px solid #f3acb3;
  background-color: white;
  font-family: 'Pretendard-Regular';
  font-size: 1.5rem;
  box-sizing: border-box;
  transition: all 0.1s;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li .desc-btm ul li button:hover {
  background-color: #f3acb3;
  color: white;
}

.container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li .desc-btm img {
  width: 200px;
  height: auto;
  display: block;
  margin-bottom: 10px;
  box-sizing: border-box;
}




/*section2 시작*/
.container .inner-container .bestNew .sections .section.sec2 {
  width: 100%;
  height: auto;
  padding: 10px 0 60px 0;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con {
  width: 100%;
  height: auto;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-title {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 50px 0 20px 0;
  box-sizing: border-box;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-title span.title {
  font-family: 'Pretendard-SemiBold';
  font-size: 4rem;
  letter-spacing: 2px;
  line-height: 6rem;
  color: transparent;
  background-image: linear-gradient(0deg, #31271d, #31271d);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 0% 100%;
  cursor: pointer;
  transition: background-size 0.2s ease-in;
  -webkit-text-stroke: 1px #31271d;
  -webkit-background-clip: text;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-title span.title:hover {
  background-size: 100% 100%;
  filter: drop-shadow(0 0 5px #f9f7f1);
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-title p.desc {
  font-family: 'Pretendard-Regular';
  font-size: 2rem;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-box {
  width: 100%;
  height: auto;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-box .gallery {
  width: 100%;
  height: 500px;
  position: relative;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-box .gallery .main-gallery {
  width: 100%;
  height: inherit;
  position: absolute;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-box .gallery .main-gallery>ul {
  width: 100%;
  height: inherit;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-box .gallery .main-gallery>ul>li {
  width: 100%;
  height: inherit;

  position: absolute;
  box-sizing: border-box;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fadeLi2 {
  visibility: visible !important;
  opacity: 1 !important;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-box .gallery .center-btn {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-box .gallery .center-btn span {
  background-color: rgba(0, 0, 0, 0.199);
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-box .gallery .bcon {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-box .gallery .bcon .items {
  flex: 0 1 150px;
  height: auto;
  padding: 10px 0;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-box .gallery .bcon .items>ul {
  display: flex;
  justify-content: space-between;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-box .gallery .bcon .items>ul>li {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.479);
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .main-box .gallery .bcon .items>ul>li:hover {
  background-color: rgba(0, 0, 0, 0.658);
}

.on {
  background-color: rgba(0, 0, 0, 0.801) !important;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(179, 179, 179, 0.363);
  border-left: 1px solid rgba(179, 179, 179, 0.363);
  border-right: 1px solid rgba(179, 179, 179, 0.363);
  box-sizing: border-box;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-line {
  flex: 0 1 850px;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  box-sizing: border-box;

  transform: translateY(50%);
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left .number {
  font-family: 'Pretendard-Regular';
  font-size: 5rem;
  font-weight: 600;
  padding: 0 10px;
  line-height: 6rem;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left .desc-outline {
  width: 100%;
  height: 230px;
  padding: 0 5px;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left .desc-outline>ul {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left .desc-outline>ul>li {
  width: 100%;
  height: auto;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left .desc-outline>ul>li h2.kName {
  font-family: 'Pretendard-Regular';
  font-size: 2.4rem;
  line-height: 4rem;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left .desc-outline>ul>li p.eName {
  font-family: 'Pretendard-Regular';
  font-size: 1.5rem;
  line-height: 1rem;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left .desc-outline>ul>li p.desc1 {
  font-family: 'Pretendard-ExtraLight';
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left .desc-outline>ul>li:last-child {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left .desc-outline>ul>li button {
  width: 36%;
  height: 40px;
  cursor: pointer;
  border: 0;
  border: 1px solid #f3acb3;
  background-color: white;
  font-family: 'Pretendard-Regular';
  font-size: 1.5rem;
  transition: all 0.1s;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left .desc-outline>ul>li button:hover {
  background-color: #f3acb3;
  color: white;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-right {
  width: 300px;
  height: auto;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-right>ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-right>ul>li {
  display: flex;
  justify-content: space-between;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-right>ul>li:not(:last-child) {
  margin-bottom: 10px;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-right>ul>li img {
  width: 70px;
  height: auto;
  display: block;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-right>ul>li p {
  width: 220px;
  height: auto;
  padding-top: 15px;
  font-family: 'Pretendard-ExtraLight';
  font-size: 1.6rem;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li {
  width: 49.5%;
  height: 300px;
  border: 1px solid rgba(179, 179, 179, 0.363);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1%;

  transform: translateY(50%);
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li .desc-top {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  justify-content: left;
  padding: 10px 20px;
  box-sizing: border-box;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li .desc-top .number {
  font-family: 'Pretendard-Regular';
  font-size: 5rem;
  font-weight: 600;
  padding: 0 15px;
  line-height: 6rem;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li .desc-top .desc-outline h2.kName {
  font-family: 'Pretendard-Regular';
  font-size: 2.4rem;
  line-height: 4rem;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li .desc-top .desc-outline p.eName {
  font-family: 'Pretendard-Regular';
  font-size: 1.5rem;
  line-height: 1rem;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li .desc-btm {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 2.5rem;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li .desc-btm>ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
  box-sizing: border-box;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li .desc-btm>ul>li {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li .desc-btm>ul>li:not(:last-child) {
  margin-bottom: 10px;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li .desc-btm>ul>li:last-child {
  gap: 10px;
  margin-bottom: 10px;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li .desc-btm>ul>li p {
  width: 100%;
  height: auto;
  padding-top: 15px;
  font-family: 'Pretendard-ExtraLight';
  font-size: 1.6rem;
  padding: 0 10px;
  box-sizing: border-box;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li .desc-btm ul li button {
  width: 50%;
  height: 40px;
  cursor: pointer;
  border: 0;
  border: 1px solid #f3acb3;
  background-color: white;
  font-family: 'Pretendard-Regular';
  font-size: 1.5rem;
  box-sizing: border-box;
  transition: all 0.1s;
}

.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li .desc-btm ul li button:hover {
  background-color: #f3acb3;
  color: white;
}


.container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li .desc-btm img {
  width: 200px;
  height: auto;
  display: block;
  margin-bottom: 10px;
  box-sizing: border-box;
}




/*태블릿버전*/
@media only screen and (max-width:1019px) {

  /*section1*/
  .container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left {
    width: 100%;
  }

  .container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left .number {
    box-sizing: border-box;
  }

  .container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left .desc-outline>ul {
    gap: 10px;
  }

  .container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-left .desc-outline>ul>li button {
    width: 45%;
  }

  .container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-right>ul>li p {
    margin-left: 10px;
    box-sizing: border-box;
  }

  .container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li {
    width: 100%;
  }



  /*section2*/
  .container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left {
    width: 100%;
  }

  .container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left .number {
    box-sizing: border-box;
  }

  .container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left .desc-outline>ul {
    gap: 10px;
  }

  .container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-left .desc-outline>ul>li button {
    width: 45%;
  }

  .container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-right>ul>li p {
    margin-left: 10px;
    box-sizing: border-box;
  }

  .container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li {
    width: 100%;
  }
}



/*모바일버전*/
@media only screen and (max-width:680px) {

  /*section1*/
  .container .inner-container .bestNew .sections .section.sec1 .sec-con .sub-box>ul>li {
    width: 100%;
  }

  .container .inner-container .bestNew .sections .section.sec1 .sec-con .desc-box .desc-right {
    display: none;
  }


  /*section2*/
  .container .inner-container .bestNew .sections .section.sec2 .sec-con .sub-box>ul>li {
    width: 100%;
  }

  .container .inner-container .bestNew .sections .section.sec2 .sec-con .desc-box .desc-right {
    display: none;
  }
}