/*container 시작*/

.container {
  padding-top: 74px;
}

.container .inner-container {
  width: 100%;
  height: auto;
  padding: 10px 0.5208vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container .inner-container .loundge {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .inner-container .loundge .main-title {
  width: 100%;
  height: auto;
  font-family: 'Pretendard-SemiBold';
  font-size: 4.5rem;
  text-align: center;
  padding: 30px 0;
  color: #31271d;
}

.container .inner-container .loundge .menu-title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(179, 179, 179, 0.541);
  border-bottom: 1px solid rgba(179, 179, 179, 0.541);
}

.container .inner-container .loundge .menu-title .title-box {
  flex: 0 1 400px;
}

.container .inner-container .loundge .menu-title .title-box ul {
  display: flex;
  justify-content: space-between;
}

.container .inner-container .loundge .menu-title .title-box ul>li {
  padding: 15px 0;
  position: relative;
}

.container .inner-container .loundge .menu-title .title-box ul>li a {
  font-family: 'Pretendard-Regular';
  font-size: 2rem;
}
.container .inner-container .loundge .menu-title .title-box ul>li:nth-child(3) a{
  color: #ef7f8a;
  font-weight: 600;
}

.container .inner-container .loundge .menu-title .title-box ul>li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #f3acb3;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.container .inner-container .loundge .menu-title .title-box ul>li:hover:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f3acb3;
  position: absolute;
  left: 0;
  bottom: 0;
}

.container .inner-container .loundge .section1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.container .inner-container .loundge .section1 .sec-con {
  flex: 0 1 1000px;
}

.container .inner-container .loundge .section1 .sec-con>ul {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.container .inner-container .loundge .section1 .sec-con>ul>li {
  width: 33%;
  height: auto;
  border: 1px solid rgba(211, 210, 210, 0.544);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  justify-content: flex-start;
  background-color: rgb(250, 243, 234);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.container .inner-container .loundge .section1 .sec-con>ul>li:hover {
  filter: brightness(80%);
}

.container .inner-container .loundge .section1 .sec-con>ul>li img {
  width: 100%;
  height: auto;
  display: block;
}

.container .inner-container .loundge .section1 .sec-con>ul>li .desc {
  width: 100%;
  height: auto;
  font-family: 'Pretendard-ExtraLight';
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 10px 4px;
  box-sizing: border-box;
  background-color: rgb(250, 243, 234);
  display: none;
}

.container .inner-container .loundge .section1 .sec-con>ul>li .market {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 5px;
}







/*view-con*/
.container .inner-container .loundge .section1 .sec-con .view-con {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  padding: 40px 0 20px 0;
}

.container .inner-container .loundge .section1 .sec-con .view-con button {
  flex: 0 0 150px;
  font-family: 'Pretendard-Regular';
  font-size: 1.5rem;
  line-height: 4rem;
  border: 0;
  background-color: #f5d4d7c5;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container .inner-container .loundge .section1 .sec-con .view-con button:hover {
  background-color: #31271d;
  color: white;

}

.liTag-click{
  width: 33%;
  height: auto !important;
  border: 1px solid  rgba(211, 210, 210, 0.544);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(250, 243, 234);
  cursor: pointer;
}

.imgTag-click{
  width: 100%;
  height: auto;
  display: block;
}

.divTag-click{
  width: 100%;
  height: auto;
  font-family: 'Pretendard-ExtraLight';
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 10px 4px;
  box-sizing: border-box;
  background-color: rgb(250, 243, 234);
  display: none;
}

.marketTag-click{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 5px;
}

/*pop-up*/
.container .inner-container .loundge .section1 .sec-con .pop-up {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(197, 197, 197, 0.438);
  
  display: flex;
  justify-content: center;
  align-items: center;
 
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  
  z-index: 99999999999999999;

}

.popup-ani{
  width: 100%;
  height: 100vh;
  visibility: visible !important;
  opacity: 1 !important;
  transition: all 0.2s;
  left: 0;
  top: 0;
 
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con {
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.61);
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .left-con {
  width: 65%;
  height: auto;
  background-color: white;
  padding: 15px;
  border-right: 1px solid rgba(128, 128, 128, 0.61);
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .left-con img {
  width: 100%;
  height: auto;
  display: block;
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con {
  width: 35%;
  height: auto;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .brandName {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .brandName img {
  width: 40px;
  height: auto;
  display: block;
  border-radius: 50%;
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .brandName a {
  font-family: 'Pretendard-Regular';
  font-size: 1.6rem;
  line-height: 40px;
  margin-left: 10px;
  color: rgb(85, 85, 85);
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .sns-con {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  padding: 20px 0;
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .sns-con>ul {
  flex: 0 1 100px;
  display: flex;
  justify-content: space-between;
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .sns-con>ul>li {
  border: 1px solid rgba(169, 169, 169, 0.648);
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .sns-con>ul>li img {
  width: 20px;
  height: auto;
  display: block;
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .main-content {
  width: 100%;
  height: auto;
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .main-content p {
  background-color: white;
  font-family: 'Pretendard-ExtraLight';
  font-size: 14px;
  box-sizing: border-box;
  line-height: 25px;
  text-align: left;
  margin-bottom: 20px;
  
}
.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .main-content button {
  width: 150px;
  height: auto;
  background-color: #ef7f8a;
  color: white;
  border: 0;
  font-family: 'Pretendard-Regular';
  font-size: 2rem;
  line-height: 4rem;
  
  
}
.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .main-content button a{
  color: inherit;
  display: block;
  border: 1px solid #ffffff00;
  transition: all 0.3s;
}
.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .main-content button a:hover{
  background-color: white;
  color: #ef7f8a;
  border: 1px solid  #ef7f8a;
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .bottom-con .close-con {
  width: 100%;
  height: auto;
  /*border: 1px solid;*/
  display: flex;
  justify-content: right;
}

.container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .bottom-con .close-con button {
  width: 30px;
  height: 30px;
  background-color: #f3acb3;
  color: #31271d;
  font-family: 'Pretendard-SemiBold';
  font-size: 2rem;
  line-height: 2rem;
  border: 0;
  cursor: pointer;
}

.button-ani {
  transition: all 0.3s;
}














/*태블릿버전*/
@media only screen and (max-width:1019px) {

  .container .inner-container .loundge .section1 .sec-con>ul>li {
    width: 49.5%;
  }
  .container .inner-container .loundge .section1 .sec-con>ul>li:last-child{
    display: none;
  }

}

/*모바일버전*/
@media only screen and (max-width:680px) {

  .container .inner-container .loundge .section1 .sec-con>ul>li {
    width: 100%;
  }
  .container .inner-container .loundge .section1 .sec-con>ul>li:last-child{
    display: block;
  }


   /*section4 팝업창*/
 .container .inner-container .loundge .section1 .sec-con .pop-up .pop-con {
  width: 470px;
  height: 550px;
  border: 0px solid rgba(128, 128, 128, 0.61);
 }
 
 .container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .left-con {
  width: 50%;
  height: inherit;
  border: 1px solid rgba(128, 128, 128, 0.61);
  position: relative;
 }
 
 .container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .left-con img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
 }
 
 .container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con {
  width: 50%;
  height: inherit;
  border-right: 1px solid rgba(128, 128, 128, 0.61);
  border-top: 1px solid rgba(128, 128, 128, 0.61);
  border-bottom: 1px solid rgba(128, 128, 128, 0.61);
 }

 .container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .main-content button {
  width: 120px;
 }

 .container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .main-content button a {
  font-size: 1.6rem;
 }

 .container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .bottom-con .close-con button {
  width: 25px;
  height: 25px;
 }

 .container .inner-container .loundge .section1 .sec-con .pop-up .pop-con .right-con .bottom-con .close-con button img{
  width: 100%;
  height: auto;
  display: block;
 }


}